* {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.f-wrap {
    flex-wrap: wrap;
}

.w-80 {
    width: 80%;
}

.h-80 {
    height: 80%;
}

.w-0 {
    width: 0%;
}

.h-0 {
    height: 0px;
}

.hidden {
    visibility: hidden;
}

.app {
    padding: 100px;
    min-width: 700px;
    max-width: 1000px;
}

.b-radius-28 {
    border-radius: 28px;
}